<script>
	export default {
		onLaunch: function() {
			console.log('App Launch')
			    //建立连接
			    this.goeasy.connect({
			        id:"001", //pubsub选填，im必填
			        data:{}, //必须是一个对象，pubsub选填，im必填，用于上下线提醒和查询在线用户列表时，扩展更多的属性
			        onSuccess: function () {  //连接成功
			          console.log("连接成功") //连接成功
			        },
			        onFailed: function (error) { //连接失败
			          console.log('连接失败');
			        },
			        onProgress:function(attempts) { //连接或自动重连中
			          console.log("连接或自动重连中");
			        }
			    });

		},
		onShow: function() {
			console.log('App Show')
		},
		onHide: function() {
			console.log('App Hide')
		}
	}
</script>

<style>
	/*每个页面公共css */
	page {
	  height: 100%;
	}
</style>
