<template>
  <div class="cssSty">
    <div class="cssSty-name">实时数据</div> 
    <div id="main" style="width: 1200px; height: 600px"></div>
  </div>
</template>
<script>
import { queryAnalysisApi } from "../../api/analysis";
export default {
  data() {
    return {
      salebar: "",
      xAxisData: [],
      seriesData: [],
      option:{}
    };
  },
  computed: {
    AnalysisArr() {
      return this.$store.getters.AnalysisArr;
    },
  },
  watch: {
    AnalysisArr: {
      handler(newVal, oldVal) { 
          if(newVal)this.watchFn(newVal) 
        
      },
      immediate: true,
    },
  },
  mounted() {
    this.getDataFn();
  },
  methods: {
    async getDataFn() {
      const data = await queryAnalysisApi();
      this.xAxisData = data.data.map((ele) => {
        return ele.time;
      });
      this.seriesData = data.data.map((ele) => {
        return ele.salePrice;
      });
      this.initFn();
    },
    watchFn(newVal) {
      console.log('this.option.xAxis.data ',this.option.xAxis.data)
      this.option.xAxis.data = newVal.map((ele) => {
        return ele.time;
      });
      this.option.series[0].data = newVal.map((ele) => {
        return ele.salePrice;
      }); 
   this.salebar.setOption(this.option);
    },
    initFn() {
      this.salebar = this.$echarts.init(document.getElementById("main"));

      // 指定图表的配置项和数据
        this.option = {
        title: {
          text: "最近7日销售量",
        },
        tooltip: {},
        legend: {
          data: ["销量额"],
        },
        xAxis: {
          data: this.xAxisData,
        },
        yAxis: {},
        series: [
          {
            name: "销量额",
            type: "bar",
            data: this.seriesData,
          },
        ],
      };
      // 使用刚指定的配置项和数据显示图表。
      this.salebar.setOption(this.option);
    },
  },
};
</script>
<style scoped>
.cssSty {
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.cssSty-name {
  font-size: 18px;
  margin-bottom: 80px;
}
.cssSty-table {
  overflow: hidden;
  padding: 30px 0 300px 0;
}
.cssSty-add {
  margin: 20px 0 0 0;
  /* margin-left:auto; */
  /* align-self: flex-end; */
  display: flex;
}
.cssSty-ipt {
  width: 300px;
}
</style>