<template>
	<view class="box">
		<image src="https://diancan-1301719495.cos.ap-nanjing.myqcloud.com/dishs/beijing1.jpg" mode=""></image>
	</view>
</template>

<script>
</script>

<style>
	.box,.box image{
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
</style>
