@font-face {
	  font-family: 'iconfont';  /* Project id 2032446 */
	  src: url('//at.alicdn.com/t/font_2032446_fsxsh3m63aw.woff2?t=1634473587862') format('woff2'),
	       url('//at.alicdn.com/t/font_2032446_fsxsh3m63aw.woff?t=1634473587862') format('woff'),
	       url('//at.alicdn.com/t/font_2032446_fsxsh3m63aw.ttf?t=1634473587862') format('truetype');
	}

	.fontImg {
		font-family: 'iconfont';
		padding: 0 10rpx;
		font-size: 42rpx;
	}
	.fontImg-car{
		font-family: 'iconfont';
		padding: 0 20rpx;
		font-size: 52rpx;
		color: #469c96;
	}
.order-mian {
		display: flex;
		flex-direction: column;
		height: auto;
	}

	.order-up {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 100rpx;
		background: #469c96;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 20rpx;
		font-size: 32rpx;
	}

	.order-mid {
		margin-top: 100rpx;
		display: flex;
		/* justify-content: space-between; */
		flex: 1;
	}

	.order-mid-left {
		background-color: #f7f7f7;
		width: 26%;
		color: #555555;
	}

	.order-mid-left:hover {
		width: 26%;
	}

	.order-mid-left-scroll {
		/* height: 200rpx; */
	}

	.left-scroll-text-a {
		font-size: 30rpx;
	}

	.order-mid-left-scroll-name {
		padding: 20rpx;
		height: 100rpx;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.left-scroll-text-b {
		font-size: 20rpx;
		margin: 6rpx 0 0 0;
		width: 36rpx;
		height: 36rpx;
		background-color: #f45252;
		line-height: 40rpx;
		text-align: center;
		border-radius: 50%;
		color: white;
		display: block;
	}

	.left-scroll-text {}

	.order-mid-left-scroll-name:hover {
		padding: 20rpx;
		height: 100rpx;
		background: white;
	}

	.order-btm {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		height: 120rpx;
		line-height: 120rpx;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #f7f7f7;
		border: 1rpx solid grey;
		padding: 0 20rpx;
	}

	.dish-detail {
		display: flex;
	}

	.dish-detail-detail {
		display: flex;
		flex-direction: column;
		margin: 15rpx 0 15rpx 20rpx;
	}

	.dish-detail-img {
		width: 440rpx;
		height: 340rpx;
		border-radius: 5%;
	}

	.dish-hadSail {
		font-size: 20rpx;
		color: #808080;
	}

	.dish-dishname {
		height: 100rpx;
		line-height: 100rpx;
		font-size: 32rpx;
		color: #66666;
	}

	.dish-detail {
		display: flex;
		width: 100%;
	}

	.order-mid-right {
		width: 72%;
		margin:0 10rpx 0 20rpx;
		height: 1026rpx;
	}

	.order-mid-right-scroll {
		width: 100%;
		height: 1000rpx;
	}

	.dish-price {
		margin: 20rpx 0 0 0;
		font-size: 20rpx;
		color: #808080;
	}

	.dish-price-im {
		font-size: 30rpx;
		color: black;
	}

	.dish-name {
		font-size: 28rpx;
		color: #808080;
	}

	.dish-detail-take {
		display: flex;
		flex: 1;
		align-self: flex-end;
		justify-content: space-around;
		margin-left: 150rpx;
	}
.dish-detail-take image{
	width: 40rpx;
	height: 40rpx;
}
	.dish-detail-take-sub,
	.dish-detail-take-add {
		align-self: center;
		width: 40rpx;
		height: 40rpx;
		text-align: center;
		line-height: 30rpx;
		border-radius: 50%;
		background-color: #f7d45f;
		border: 1rpx solid grey;
	}

	.dish-detail-take-sub {
		background-color: white;
	}
	.finshed-dishs{
		font-size: 30rpx;
		padding: 0 0 0 35rpx;
		color: #8F8F94;
	} 
	/* .order-btm-main{
		position: relative;
	}
	.finshTotalNum{
		position: absolute;
		top: 0;
		width: 36rpx;
		height: 36rpx;
		background-color: #f45252;
	} */
	.finshed-Ok{
		margin-top: 10rpx;
		width: 180rpx;
		height: 80rpx;
		line-height: 80rpx;
		text-align: center;
		border-radius: 10%;
		background: #469c96;
		color: white;
	}