<template>
	<view class="order-mian">
		<view class="order-up">
			<text  @click="restart">{{number_of_diners}}人就餐</text>
			<text>
				<text class="fontImg">&#xe739;</text>
				<text class="fontImg">&#xe788;</text>
			</text>
		</view>
		<view class="order-mid">
			<view class="order-mid-left">
				<scroll-view scroll-top="true" scroll-y="true" class="order-mid-left-scroll">
					<view v-for="(ele,idx) in dishsList" class="order-mid-left-scroll-name" @click="categroyFn(ele.categroyId)">
						<text class="left-scroll-text-a">{{ele.categoryName}}</text>
						<text class="left-scroll-text-b" v-if="ele.num > 0">{{ele.num}}</text>
					</view>
				</scroll-view>
			</view>
			<view class="order-mid-right">
				<view class="order-mid-right-scroll">
					<scroll-view scroll-top="true" scroll-with-animation="true" :scroll-into-view="viewId" scroll-y="true" class="order-mid-right-scroll">
						<view :id="ele.categroyId" class="order-mid-right-cont" v-for="(ele,idex) in dishDetailList">
							<view class="dish-dishname">{{ele.categoryName}}</view>
							<view style="display: flex;flex-direction: column; margin-bottom: 10px;" class="dish-detail" v-for="(item,idx) in ele.list">
								<view class="dish-name">{{item.dishName}}</view>
								<view class="dish-detail-img">
									<!-- https://img2.baidu.com/it/u=2451893033,1286285283&fm=26&fmt=auto -->
									<img class="dish-detail-img" :src="item.dishImg" mode="" />
								</view>
								<view style="display: flex; justify-content: space-around;">
									<text class="dish-price">￥<text class="dish-price-im">{{item.dishPrice}}元</text>/份</text>
									<view class="dish-detail-take">
										<view @click="subNumFn(ele.categroyId,item.id)">
											<image src="/static/tab/jianhao.png" mode="widthFix"></image>
										</view>
										<view>{{item.chooseNum}}</view>
										<view @click="addNumFn(ele.categroyId,item.id)">
											<image src="/static/tab/jia.png" mode="widthFix"></image>
										</view>
									</view>
								</view>
							</view>
						</view>
					</scroll-view>
				</view>
			</view>
		</view>
		<view class="order-btm" @click="showCarFn">
			<view class="order-btm-main">
				<text class="fontImg-car">&#xe600;</text>
				<!-- <text class="finshTotalNum">12</text> -->
				<text class="finshed-dishs">已点{{totalNum}}份菜品</text>
			</view>
			<text class="finshed-Ok" @click.stop="jumpFn">选好了</text>
		</view>
		<Cars ref='detailComp' :querySonCarData='querySonCarData' v-if='showCars'></Cars>
	</view>
</template>

<script>
	import { mapActions,mapMutations,mapState,mapGetters } from 'vuex'
	import Cars from './components/cars.vue'
	export default {
		components:{Cars},
		computed:{
			number_of_diners(){
				return uni.getStorageSync('number_of_diners')
			}
		},
		onLoad() {
			this.init()
		},
		data() {
			return {
				querySonCarData:[],
				showCars:false,
				viewId: '',
				totalNum:0,
				dishsList: [{
						categoryName: '素菜类',
						num: 0,
						categroyId: 'a1'
					},
					{
						categoryName: '饮料类',
						num: 0,
						categroyId: 'a2'
					},
				],
				dishDetailList: [
					{categoryName: '素菜类',
					num: 0,
					categroyId: 'a1',
					list:[{
						id:1,
						categroyId: 'a1',
						categoryName: '素菜类',
						dishName: '豆芽菜',
						dishPrice: 1,
						chooseNum:0
					},
					{
						id:2,
						categroyId: 'a1',
						categoryName: '素菜类',
						dishName: '土豆丝',
						dishPrice: 1,
						chooseNum:0
					}]},
					{categoryName: '饮料类',
					num: 0,
					categroyId: 'a2',
					list:[{
						id:3,
						categroyId: 'a2',
						categoryName: '饮料类',
						dishName: '咖啡',
						dishPrice: 1,
						chooseNum:0
					},
					{
						id:4,
						categroyId: 'a2',
						categoryName: '饮料类',
						dishName: '咖啡',
						dishPrice: 1,
						chooseNum:0
					},
					{
						id:5,
						categroyId: 'a2',
						categoryName: '饮料类',
						dishName: '咖啡',
						dishPrice: 1,
						chooseNum:0
					},
					{
						id:6,
						categroyId: 'a2',
						categoryName: '饮料类',
						dishName: '杨枝甘露',
						dishPrice: 1,
						chooseNum:0
					}]},
				],
			}
		},
		methods: {
			restart(){ 
				this.init() 
				console.log('restart')
				},
			...mapMutations({
				updateCarData:'updateCarData'
			}), 
			jumpFn(){ 
				if(this.querySonCarData.length < 1){
				return uni.showToast({
					    title: '请先选择菜品',
					    duration: 2000,
						icon:'none',
					})
				}
				uni.getStorageSync('orderUid') ? this.isCountFn() : this.unOrderUidFn()
			},
			//判断当前订单是否结账
			isCountFn(){
				// /dishs/queryDishOrder
				const params = {
					orderUid:uni.getStorageSync('orderUid'),
					page:1
				}  
				this.$http('/dishs/queryDishOrder',params,'post')
				.then(res=>{ 
					// console.log('res.data',res.data)
					if(res.data && res.data[0].orderStatus==1) {
						// uni.clearStorage();
						uni.removeStorageSync('orderUid');
						uni.removeStorageSync('orderStatus');
						uni.removeStorageSync('showData'); 
					}
				})
				.catch(err=>console.log(err)) 
				.finally(()=>{
					//触发vuex mutations 
					this.updateCarData(this.querySonCarData)
					// 推送消息至后台
					// this.pushMessageFn() 
					wx.redirectTo({
					  url: '/pages/detail/index'
					})
				})
			},
			// 若无订单号则触发改方法
			unOrderUidFn(){
				//触发vuex mutations
				this.updateCarData(this.querySonCarData)
				wx.redirectTo({
				  url: '/pages/detail/index'
				})
			},
			init(){
				// 菜品分类
				this.$http('/dishCategory/queryDishesCategory',{},'get')
				.then(res=>{
					this.dishsList = res.data.list
					this.dishsList.forEach(ele => {
						this.$set(ele,'num',0)
					})
				}) 
				// 菜品列表
				this.$http('/dishsMange/queryDish',{page:'all'},'post')
				.then(res=>{
					// console.log(res.data.list,1)
					this.combineDataFn(res.data.list)
				})
			},
			combineDataFn(data){
				let copyData = JSON.parse(JSON.stringify(this.dishsList))
				copyData.forEach(ele=>{
					this.$set(ele,'list',[])
				})
				data.forEach(ele => {
					this.$set(ele,'chooseNum',0)
				})
				data.forEach(ele => {
					const idx = copyData.findIndex(item=>{
						return item.categroyId === ele.categroyId
					})
					copyData[idx].list.push(ele)
				})
				this.dishDetailList = copyData
				// console.log(copyData)
			},
			totalNumFn(){
				this.totalNum  = 0
				this.dishsList.forEach(ele =>{
					this.totalNum += ele.num
				})
			},
			// 获取当前行数据
			getRowObjFn(categroyId,id){
				const obj = this.dishDetailList.find((ele)=>{
					return ele.categroyId === categroyId
				})
				const rowObj = obj.list.find(ele=>{
					return ele.id === id
				})
				return rowObj
			},
			carAddObjFn(categroyId,id){
				const idx = this.querySonCarData.findIndex(ele=>{
					return ele.id === id
				})
				if(idx === -1) this.querySonCarData.push(this.getRowObjFn(categroyId,id))
				this.querySonCarData = this.querySonCarData.filter(ele => ele.chooseNum > 0)
			},
			addNumFn(categroyId,id){
				this.dishsList.forEach(ele=>{
					if(ele.categroyId === categroyId){
						ele.num++
						this.getRowObjFn(categroyId,id).chooseNum++
					}
				})
				this.totalNumFn()
				this.carAddObjFn(categroyId,id)
			},
			subNumFn(categroyId,id){
				this.dishsList.forEach(ele=>{
					if(ele.categroyId === categroyId && this.getRowObjFn(categroyId,id).chooseNum > 0){
						ele.num--
						this.getRowObjFn(categroyId,id).chooseNum--
					}
				})
				this.totalNumFn()
				this.carAddObjFn(categroyId,id)
			},
			showCarFn(val = true){ 
				this.showCars = val
			},
			categroyFn(val) {
				this.viewId = val
			}
		}
	}
</script>

<style scoped> 

	@import url("./order.css");
</style>
