<template>
  <div class="cssSty">
    <div class="cssSty-name">订单管理</div>
    <div class="cssSty-badge">
      <el-badge :value="OrderNum" :hidden="OrderNum < 1" class="item">
        <el-button @click="upDateOrderFn">更新订单</el-button>
      </el-badge>
    </div>
    <div class="cssSty-table">
      <el-table :data="tableData" style="width: 100%">
        <el-table-column prop="idx" label="序号" width="80"></el-table-column>
        <el-table-column prop="createTime" label="创建时间" width="220">
        </el-table-column>
        <el-table-column prop="deskNum" label="桌号" width="100">
        </el-table-column>
        <el-table-column prop="dinners" label="用餐人数" width="150">
        </el-table-column>
        <el-table-column prop="dishList" label="菜单详情">
          <template slot-scope="scope">
            <el-button @click="showPopup(scope.row.orderUid)"
              >菜单详情</el-button
            >
          </template>
        </el-table-column>
        <el-table-column prop="orderUid" label="菜单编号"> </el-table-column>
        <el-table-column prop="totalPrice" label="交易金额"> </el-table-column>
        <el-table-column prop="orderStatus" label="交易状态">
          <template slot-scope="scope">
            <el-button
              type="primary"
              v-if="scope.row.orderStatus == 0"
              @click="CheckOut(scope.row.id)"
              >点击结账</el-button
            >
            <el-button v-else disabled>已经结账</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="cssSty-page">
      <el-pagination
        background
        layout="prev, pager, next"
        @current-change="changePage"
        :total="totalPage"
      >
      </el-pagination>
    </div>
    <PopUp :queryPopupData="queryPopupData" ref="popup"></PopUp>
    <div>
      <audio
        src="https://diancan-1252107261.cos.accelerate.myqcloud.com/mp3/dingdantixing.mp3"
        ref="audio"
      ></audio>
    </div>
  </div>
</template>
<script>
import {
  queryDishOrderApi,
  queryDishsDetailApi,
  updateDishOrderApi,
} from "../../api/order";
import PopUp from "./components/dishsPopup.vue";
import { mapState, mapMutations, mapActions, mapGetters } from "vuex";
export default {
  components: { PopUp },
  computed: {
    //  ...mapGetters(['newOrderNum']),
    newOrderNum() {
      //   return localStorage.getItem('setOrderNum')
      return this.$store.getters.newOrderNum;
    },
  },
  data() {
    return {
      totalPage: 1,
      page: 1,
      tableData: [],
      dishName: "",
      queryPopupData: [],
      OrderNum: 0,
    };
  },

  created() {
    this.init(this.page);
    this.OrderNum = Number(localStorage.getItem("setOrderNum"));
  },
  watch: {
    newOrderNum(newVal, oldValue) {
      if (newVal) this.plays();
      this.OrderNum = localStorage.getItem("setOrderNum");
    },
  },
  methods: {
    changePage(num) { 
        this.init(num)
    },
    // 播放音频
    plays() {
      this.$nextTick(() => {
        let Audio = this.$refs.audio;
        Audio.play();
      });
    },
    upDateOrderFn() {
      //更新订单
       this.init(this.page);
      //清空订单标记
      this.$store.commit("order/clearOrderNum");
      //   console.log(this.$store.getters.newOrderNum,'this.$store.getters.newOrderNum')
      localStorage.removeItem("setOrderNum");
      //   this.$store.commit('order/setOrderNum', localStorage.getItem('setOrderNum'))
      this.OrderNum = Number(localStorage.getItem("setOrderNum"));
    },
    CheckOut(id) {
      updateDishOrderApi({ id, orderStatus: 1 }).then((res) => {
        const status = res.code === 200 ? "success" : "error";
        this.$message[status](res.data);
        this.init(this.page);
      });
    },
    init(page) {
      queryDishOrderApi({ page }).then((res) => {
        res.data.list.forEach((ele, idx) => {
          this.$set(ele, "idx", (idx + 1)+(page-1)*10);
        }); 
        this.tableData = res.data.list;
        this.tableData.forEach(ele=>{ 
          ele.createTime = this.$moment(ele.createTime).format('YYYY-MM-DD HH:mm:ss') 
        })
        this.totalPage = res.data.totalPage;
      });
    },
    showPopup(orderUid) {
      //   this.$children[1].dialogVisible = true;
      this.$refs.popup.dialogVisible = true;
      console.log();
      queryDishsDetailApi({ orderUid }).then((res) => {
        this.queryPopupData = res.data;
      });
    },
  },
};
</script>
<style scoped>
.cssSty {
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.cssSty-name {
  font-size: 18px;
}
.cssSty-table {
  overflow: hidden;
  padding: 30px 0 30px 0;
}
.cssSty-add {
  margin: 20px 0 0 0;
  /* margin-left:auto; */
  /* align-self: flex-end; */
  display: flex;
}
.cssSty-ipt {
  width: 300px;
}
.cssSty-badge {
  margin-right: 40px;
  align-self: flex-end;
}
.cssSty-page{
  /* margin: 0;
  padding: 0; */
  text-align: center;
}
</style>