<template>
	<view class="details-view">
		<view class="order-top">
			<view class="order-remind">
				<view>下单成功，坐等开吃</view>
				<view>菜品已在制作中</view>
			</view>
		</view>
		<!-- id: 12
		createTime: "2021-10-10T08:30:49.000Z"
		categroyId: "a16338417"
		categoryName: "荤菜类"
		dishImg: "https://diancan-1301719495.cos.ap-nanjing.myqcloud.com/dishs/1633854637089.jpg"
		dishName: "清蒸鲈鱼"
		dishPrice: 22
		note: null
		chooseNum: 1 -->
		<view class="food-list">
			<view class="foot-back" v-for="(ele,idx) in showData">

				<view class="foot-til">
					<text>第{{ele.numTime}}次下单</text>
					<text>下单成功，坐等开吃</text>
				</view>

				<view class="foot-deta"  v-for="(item,idx) in ele.list">
					<view>
						<image :src="item.dishImg" mode="aspectFill"></image>
					</view>
					<view class="foot-name">
						<text>{{item.dishName}}</text>
						<text>{{item.chooseNum}}份</text>
					</view>
					<view class="foot-total">¥{{item.dishPrice}}</view>
				</view>

				<!-- 展示更多 -->
				<view class="expand-more" v-if="ele.showEle" @click="checkDataFn(idx)">
					<text>展开全部</text>
					<image src="/static/tab/zhankai.svg"></image>
				</view>

				<!-- 总计 -->
				<!-- <view class="total-view">
					<view>共 {{totalNum}} 份</view>
					<view class="total-price">
						<text>总计</text>
						<text>¥{{totalPrice}}</text>
					</view>
				</view> -->
			</view>
			
			<!-- 总计 -->
			<view class="total-view">
				<view>共 {{totalNum}} 份</view>
				<view class="total-price">
					<text>总计</text>
					<text>¥{{totalPrice}}</text>
				</view>
			</view>
			<!-- 订单号 -->
			<view class="foot-back order-number">
				<text>订单编号：{{orderUid}}</text>
				<text>下单时间：{{createTime}}</text>
				<text>桌台名称：{{deskNum}}</text>
			</view>
			<view style="height: 300rpx;"></view>
		</view>
		<!-- 加菜 -->
		<view class="add-a-dish">
			<view @click="jumpFn">加菜</view>
		</view>

	</view>
</template>

<script>
	import {
		mapActions,
		mapMutations,
		mapState,
		mapGetters
	} from 'vuex'
	export default {
		data(){
			return {
				allDishs:[],//用于匹配当前订单菜品
				orderUid:'',
				createTime:'',
				orderUid:'',
				CopyCarsData:[],
				saveCarsData:[],
				showData:[],
				totalPrice:0,
				totalNum:0,
				deskNum:uni.getStorageSync('deskNum') || 1
			}
		},
		methods: {
			pushMessageFn(){
				var pubsub = this.goeasy.pubsub;
				pubsub.publish({
				    channel: "my_channel",//替换为您自己的channel
				    message: "200",//替换为您想要发送的消息内容
				    onSuccess:function(){
				        console.log("消息发布成功。");
				    },
				    onFailed: function (error) {
				        console.log("消息发送失败，错误编码："+error.code+" 错误信息："+error.content);
				    }
				})},
			// initFn(){
			// 	this.CopyCarsData = JSON.parse(JSON.stringify(this.carsData))
			// 	uni.getStorage({
			// 		key: 'showData',
			// 		success:  (res)=> {  
			// 			const numTime = res.data.length < 1 ? 1 :res.data.length+1
			// 			res.data.push({numTime,list:this.CopyCarsData})
			// 			this.showData =res.data
			// 			this.calPriceNumFn()
			// 		},
			// 		fail: (err)=>  { 
			// 			//第一次点菜，获取不到不到key: 'showData'，会走fail
			// 			this.showData = [
			// 				{
			// 					numTime:1,
			// 					list:this.CopyCarsData
			// 				}
			// 			] 
			// 			this.calPriceNumFn()
			// 		},
			// 		complete:()=>{
			// 			//查看更多此处埋点设置布尔值
			// 			this.showData.forEach(ele => {
			// 				ele.list.length > 3   
			// 				? this.$set(ele,'showEle',true)
			// 				: this.$set(ele,'showEle',false)
			// 			})
			// 			//深拷贝页面要显示的所有数据，加菜时使用
			// 			this.saveCarsData = JSON.parse(JSON.stringify(this.showData))
						
			// 			this.showData.forEach(ele => {
			// 				ele.list = ele.list.splice(0,3)
			// 			})
			// 			this.makeInterFn()
			// 		}
			// 	});	
			// },
			//在complete中调用
			makeInterFn(){
				this.orderUid = uni.getStorageSync('orderUid') || ''
				const params = {
					deskNum:uni.getStorageSync('deskNum'),
					dinners:Number(uni.getStorageSync('number_of_diners')),
					dishList:[],
					totalPrice:this.totalPrice,
					numList:[],
					orderStatus:0,
					orderUid:this.orderUid
				}
				// console.log(params.orderUid,22)
				this.carsData.forEach(ele => {
					params.dishList.push(ele.id)
					params.numList.push(ele.chooseNum)
				}) 
				this.$http('/dishs/createDishOrder',params,'post')
				.then(res => {
					if(res.code === 200){
						uni.showToast({
							    title: res.data.msg,
							    duration: 2000,
								icon:'none',
							})
						// 推送消息至后台
						this.pushMessageFn() 
					}
					// console.log('resss',res)
					this.createTime = res.data.createTime
					this.orderUid = res.data.orderUid
					uni.setStorageSync('orderUid',res.data.orderUid ? res.data.orderUid : '' )
					uni.setStorageSync('orderStatus',res.data.orderStatus)
					// console.log(res,666)
				})
				.catch(err => {
					console.log(err)
				})
			},
			checkDataFn(idx){
				this.showData[idx].list = this.saveCarsData[idx].list
				this.$set(this.showData[idx],'showEle',false)
			},
			calPriceNumFn(){
				this.totalNum = 0
				this.totalPrice = 0  
				 // console.log('this.showData',this.showData)
				const tempArr = this.showData.map(ele => {
					return ele.list
				}).flat()
				// console.log('tempArr',tempArr)
				tempArr.forEach(ele=>{
					this.totalNum += Number(ele.chooseNum)
					this.totalPrice += Number(ele.dishPrice)*Number(ele.chooseNum)
				})
			},
			jumpFn() {
				wx.redirectTo({
					url: '/pages/order/order'
				})
				// uni.setStorage({
				//     key: 'showData',
				//     data: this.showData,
				//     success: function () {
				//         // console.log('success');
				//     }
				// })
			},
			queryDishsDetailFn(){ 
				const tempArr = []
				//开始调用接口
				this.orderUid = uni.getStorageSync('orderUid') || '' 
				const params={ orderUid:this.orderUid }
				this.$http('/dishs/queryDishsDetail',params,'post')
				.then(res=>{
					res.data.forEach((ele,idx)=>{
						ele.forEach((item,index)=>{ 
							this.$set(item,'chooseNum',Number(item.num))
						})
						tempArr.push({numTime:idx+1,list:ele})
					})
					// 页面展示需要push最近一次的点单
					tempArr.push({numTime:res.data.length+1, list:this.CopyCarsData})
					this.showData = tempArr 
				})
				.catch(err=>console.log(err))
				.finally(()=>{
					// this.calPriceNumFn()
					this.commonFn()
				})
			},
			firstFn(){
				this.showData = [
					{
						numTime:1,
						list:this.CopyCarsData
					}
				] 
				// this.calPriceNumFn()
				this.commonFn()
			},
			commonFn(){
				this.showData.forEach(ele => {
					ele.list.length > 3   
					? this.$set(ele,'showEle',true)
					: this.$set(ele,'showEle',false)
				})
				//深拷贝页面要显示的所有数据，加菜时使用
				this.saveCarsData = JSON.parse(JSON.stringify(this.showData))
				
				this.showData.forEach(ele => {
					ele.list = ele.list.splice(0,3)
				})
				this.calPriceNumFn()
				this.makeInterFn()
			},
			onOff(){
				this.CopyCarsData = JSON.parse(JSON.stringify(this.carsData))
				this.orderUid = uni.getStorageSync('orderUid') || '' 
				if(!this.orderUid )this.firstFn()
				if(this.orderUid )this.queryDishsDetailFn()
			},
		},
		onLoad() { 
			// this.initFn()
			this.onOff()
			
			
		},
		computed: {
			...mapGetters(['carsData'])
		}
	}
</script>

<style>
	@import url("./index.css");
</style>
