<template>
  <div class="amap-page-container">
      <el-amap vid="amap" :plugin="plugin" class="amap-demo" :center="center">
      </el-amap>

      <div class="toolbar">
        <span v-if="loaded">
          location: {{  center }}
        </span>
        <span v-else>正在定位</span>
      </div>
    </div>
</template>
<script>
// insert into  biaoming(a、b、c) values(?,?,?)
// delete from biaoming where id = 1 
// update  biaoming set a=1 b=2 where id = 1
// select * from biaoming
// scss 声明变量  继承@extends  嵌套  混入@mixin @include


import { Utils } from "../../utils/getLocation";
export default {
  data() {
    let self = this;
    return {
       center: [121.59996, 31.197646],
          lng: 0,
          lat: 0,
          loaded: false,
          plugin: [{
            pName: 'Geolocation',
            events: {
              init(o) {
                // o 是高德地图定位插件实例
                o.getCurrentPosition((status, result) => {
                  if (result && result.position) {
                    self.lng = result.position.lng;
                    self.lat = result.position.lat;
                    self.center = [self.lng, self.lat];
                    console.log(self.center,)
                    self.loaded = true;
                    self.$nextTick();
                  }
                });
              }
            }
          }]
    };
  },
  created() {  
   
  },
  methods: {
    
     
  },
};
</script>
<style scoped>
 .amap-demo {
      height: 300px;
    }
</style>


 