<template>
  <div class="cssSty">
    <div class="cssSty-name">商家位置</div>
    <div class="amap-page-container">
      <el-amap-search-box
        class="search-box"
        :search-option="searchOption"
        :on-search-result="onSearchResult"
      ></el-amap-search-box>
      <el-amap vid="amapDemo" :plugin="plugin" :center="mapCenter" :zoom="12" class="amap-demo">
        <el-amap-marker
          v-for="(marker, idx) in markers"
          :key="idx"
          :position="marker"
        ></el-amap-marker>
      </el-amap>
    </div>
  </div>
</template>
<script>
import { Utils } from "../../utils/getLocation";
export default {
  data() {
    return {
       plugin: [{
            pName: 'MapType',
            defaultType: 0,
            events: {
              init(instance) {
                console.log(instance);
              }
            }
          },{
            pName: 'OverView',
            events: {
              init(instance) {
                console.log(instance);
              }
            }
          },{
            pName: 'Scale',
            events: {
              init(instance) {
                console.log(instance);
              }
            }
          }],
      markers: [
        // [121.59996, 31.197646],
        // [121.40018, 31.197622],
        // [121.69991, 31.207649],
      ],
      searchOption: {
        city: "南京",
        citylimit: true,
      },
      mapCenter: [118.777635, 31.972104],
    };
  },
  created() {  
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(
        function (position) {
          console.log(position.coords.longitude);
          console.log(position.coords.latitude);
          this.mapCenter[0] = position.coords.longitude
          this.mapCenter[1] = position.coords.latitude
        },
         (e)=> {
            this.$message.error('您当前浏览器不支持或者你取消了获取当前位置信息')
          throw e.erroe
        }
      );
    }
  },
  methods: {
    addMarker: function () {
      let lng = 121.5 + Math.round(Math.random() * 1000) / 10000;
      let lat = 31.197646 + Math.round(Math.random() * 500) / 10000;
      this.markers.push([lng, lat]);
    },
    onSearchResult(pois) {
      let latSum = 0;
      let lngSum = 0;
      if (pois.length > 0) {
        pois.forEach((poi) => {
          let { lng, lat } = poi;
          lngSum += lng;
          latSum += lat;
          this.markers.push([poi.lng, poi.lat]);
        });
        let center = {
          lng: lngSum / pois.length,
          lat: latSum / pois.length,
        };
        this.mapCenter = [center.lng, center.lat];
      }
    },
  },
};
</script>
<style scoped>
.cssSty {
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.cssSty-name {
  font-size: 18px;
  margin-bottom: 20px;
}
.amap-demo {
  height: 700px;
}

.search-box {
  position: absolute;
  top: 25px;
  left: 20px;
}

.amap-page-container {
  position: relative;
}
</style>