<template>
  <div class="名字">
    <el-dialog
      title="增加菜品"
      :visible.sync="dialogVisible"
      width="60%"
      center
      @open="open"
      :before-close="handleClose"
    >
      <div class="popUpSty">
        <el-form label-position="right" label-width="80px" :model="dishsData">
          <el-row>
            <el-col :span="11">
              <el-form-item label="菜品类别:">
                <el-select
                  v-model="dishsData.dishCategory"
                  placeholder="请选择"
                >
                  <el-option
                    v-for="item in options"
                    :key="item.categroyId"
                    :label="item.categoryName"
                    :value="item.categoryName"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item label="菜品名称:">
                <el-input v-model="dishsData.dishName"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="11">
              <el-form-item label="菜品价格:">
                <el-input v-model="dishsData.dishPrice"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="11">
              <el-form-item label="图片上传:">
                <el-upload
                  class="avatar-uploader"
                  action="http://127.0.0.1:1111/test/upload"
                  :show-file-list="false"
                  :http-request="httpRequest"
                  :before-upload="beforeAvatarUpload"
                >
                  <img
                    v-if="dishsData.dishImg"
                    :src="dishsData.dishImg"
                    class="avatar"
                  />
                  <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                </el-upload>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="$emit('update:dialogVisible', false)"
          >取 消</el-button
        >
        <el-button type="primary" @click="confirmFn">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import { uploadApi } from "@/api/common";
import { dishMangeCreateApi, queryCategoryApi } from "@/api/dish";
export default {
  props: {
    dialogVisible: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      options: [
        {
          categroyId: "选项1",
          categoryName: "黄金糕",
        },
        {
          categroyId: "选项2",
          categoryName: "双皮奶",
        },
      ],
      value: "",
      dishsData: {
        dishCategory: "",
        dishName: "",
        dishPrice: "",
        dishImg: "",
      },
    };
  },
  methods: {
    open() {
      this.dishCateFn();
    },
    dishCateFn() {
      queryCategoryApi().then((res) => {
        if (res.code === 200) this.options = res.data.list;
      });
    },
    httpRequest(params) {
      const file = params.file,
        form = new FormData();
      form.append("file", file);
      form.append("FoldeName", "dishs/");
      uploadApi(form).then((res) => {
        res.code === 200
          ? (this.dishsData.dishImg = res.data)
          : (this.dishsData.dishImg = "");
      });
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === "image/jpeg";
      const isLt2M = file.size / 1024 / 1024 < 2;

      if (!isJPG) {
        this.$message.error("上传头像图片只能是 JPG 格式!");
      }
      if (!isLt2M) {
        this.$message.error("上传头像图片大小不能超过 2MB!");
      }
      return isJPG && isLt2M;
    },
    confirmFn() {
      dishMangeCreateApi(this.dishsData).then((res) => {
        const msg = res.code === 200 ? "添加成功" : "添加失败";
        const status = res.code === 200 ? "success" : "error";
        this.$message[status](msg);
        this.dishsData = {}
        this.$parent.init(1);
      });
      this.$emit("update:dialogVisible", false);
    },
    handleClose() {
      this.$emit("update:dialogVisible", false);
    },
  },
};
</script>
</script>
<style lang='scss' scoped>
.popUpSty {
  .el-input {
    width: 300px;
  }
  .el-select {
    width: 300px;
  }
}
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
/deep/.el-upload {
  border: 1px dashed #dcdfe6;
}
</style>