<template>
<div class="">
    <el-dialog
  title="菜单详情"
  :visible.sync="dialogVisible"
  width="25%"
  center
  :before-close="handleClose">
  <div v-for="(ele,idx) in queryPopupData" :key="idx">
     <h3 class="diancai_times">第{{idx+1}}次点菜</h3>
     <div class="dish_Detail" v-for="(item,index) in ele" :key="index">
         <p>{{item.dishName}}</p>
         <p>{{item.num}} 份</p>
     </div> 

  </div>
</el-dialog>
</div>
</template>
<script>
  export default {
      props:{
          queryPopupData:{
              type:Array,
              default:()=>[]
          }
      },
    data() {
      return {
        dialogVisible: false
      };
    },
    methods: {
      handleClose(done) {
        done(); 
      }
    }
  };
</script>
<style lang='scss' scoped>
.diancai_times{
    margin-top: 20px;
    padding: 0 0 10px 0;
}
.dish_Detail{
    display: flex;
    justify-content: space-between;
    padding: 2px 20px 0 0;
}
/deep/.el-dialog__body{
  padding: 0 20px 20px 20px;
}
</style>