<template>
  <div class="cssSty">
    <div class="cssSty-name">菜品管理</div>
    <div class="cssSty-btn">
      <el-button @click="dialogVisible=true">添加</el-button>
    </div>
    <div class="cssSty-table">
      <el-table :data="tableData" style="width: 100%">
        <el-table-column prop="" label="" width="50"></el-table-column>
        <el-table-column prop="idx" label="序号" width="100"></el-table-column>
        <el-table-column prop="createTime" label="创建时间" width="220">
        </el-table-column>
        <el-table-column prop="categoryName" label="菜品类别" width="180">
        </el-table-column>
        <el-table-column prop="dishName" label="菜品名称"> </el-table-column>
        <el-table-column prop="dishImg" label="菜品图片"> 
          <template slot-scope="scope">
            <img width="100" height="80" :src='scope.row.dishImg'>
          </template>
        </el-table-column>
        <el-table-column prop="dishPrice" label="菜品价格"> </el-table-column>
        <el-table-column prop="" label="操作"> 
           <template slot-scope="scope">
            <el-button size="mini" @click="delFn(scope.row.id)">删除</el-button>
            <el-button size="mini" disabled>编辑</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="cssSty-page">
      <el-pagination
        background
        layout="prev, pager, next"
        @current-change='changePage'
        :total="totalPage">
      </el-pagination>
    </div>
    <!-- 弹框开始 -->
    <CreateDishPopup :dialogVisible.sync='dialogVisible'></CreateDishPopup>
    <!-- 弹框结束 -->
  </div>
</template>
<script>
import {dishMangeQueryApi,dishMangeDeleteApi} from '@/api/dish'
import CreateDishPopup from './components/createDishPopup'
export default {
  components:{
    CreateDishPopup
  },
  data() {
    return {
      dialogVisible:false,
      page:1,
      totalPage:1,
      tableData: [
        {
          date: "2016-05-02",
          category:'荤菜类',
          img:'',
          name: "王小虎",
          price:1111, 
        }
      ],
    };
  },
  created(){
    this.init(1)
  },
  methods:{
    changePage(num){
      this.init(num)
    },
    delFn(val){ 
      dishMangeDeleteApi({id:val}).then(res=>{
        const msg = res.code === 200 ? '删除成功' : '删除失败'
        const status = res.code === 200 ? 'success' : 'error'
        this.$message[status](msg)
        this.init(1)
      })
    },
    init(page){
      dishMangeQueryApi({page}).then(res=>{
        res.code === 200
        ? this.tableData = res.data.list
        : this.tableData = []
        this.totalPage = res.data.total
        this.tableData.forEach(ele=>{ 
          ele.createTime = this.$moment(ele.createTime).format('YYYY-MM-DD HH:mm:ss') 
        })
        this.tableData.forEach((ele,index)=>{ this.$set(ele,'idx',(index+1) + (page-1)*10  )})
      })
    }
  }
};

// 1 0    2  10 3 20
</script>
<style lang='scss' scoped>
.cssSty {
  padding: 30px;
  display: flex;
  flex-direction: column; 
}
.cssSty-name {
  font-size: 18px;  
}
.cssSty-table {
  overflow: hidden;
  padding: 30px 0 30px 0; 
}
.cssSty-page{
    align-self: center;
}
.cssSty-btn{
  margin: 15px 0 0 0;
  margin-left: auto;
  .el-button{ width: 120px; }
}
</style>