<template>
  <div class="cssSty">
    <div class="cssSty-name">菜品分类</div>
    <div class="cssSty-add">
      <el-input class="cssSty-ipt" v-model="dishName"></el-input>
      <el-button @click="addFn">添加</el-button>
    </div>
    <div class="cssSty-table">
      <el-table :data="tableData" style="width: 100%">
        <el-table-column prop="categroyId" label="类别ID" width="180">
        </el-table-column>
        <el-table-column prop="createTime" label="创建时间"> </el-table-column>
        <el-table-column prop="categoryName" label="类别名称"> </el-table-column>
        <el-table-column prop="" label="操作"> 
           <template slot-scope="scope">
             <el-button @click = 'delFn(scope.row.id)'>删除</el-button>
           </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>
<script>
import { createCategoryApi,queryCategoryApi,delCategoryApi} from '../../api/dish'
export default {
  data() {
    return {
      tableData: [],
      dishName:''
    };
  },
  created(){
    this.init()
  },
  methods:{
    init(){
      queryCategoryApi().then(res=>{
        if(res.code===200) this.tableData = res.data.list
        this.tableData.forEach(ele=>{ 
          ele.createTime = this.$moment(ele.createTime).format('YYYY-MM-DD HH:mm:ss') 
        })
      })
    },
    addFn(){
      createCategoryApi({categoryName:this.dishName}).then(res=>{
        const msg = res.code === 200 ? '添加成功' : '添加失败'
        const status = res.code === 200 ? 'success' : 'error'
        this.$message[status](msg)
        this.dishName=''
        this.init()
      })
    },
    delFn(val){ 
      delCategoryApi({id:val}).then(res=>{
        const msg = res.code === 200 ? '删除成功' : '删除失败'
        const status = res.code === 200 ? 'success' : 'error'
        this.$message[status](msg)
        this.init()
      })
    }
  }
};
</script>
<style scoped>
.cssSty {
  padding: 30px; 
  display: flex;
  flex-direction: column;
}
.cssSty-name {
  font-size: 18px;  
}
.cssSty-table {
  overflow: hidden;
  padding: 30px 0 300px 0; 
}
.cssSty-add{
  margin: 20px 0 0 0;
  /* margin-left:auto; */
  /* align-self: flex-end; */
  display: flex;
}
.cssSty-ipt{
  width: 300px;
}
</style>