<template>
<view>
	<!-- <view class="welcome">
		<text>欢迎来到</text>
		<text>杜永竹餐饮店</text>
	</view> -->
	<!-- 方块 -->
	<view class="people-view">
		<view class="hello">您好，请选择就餐人数</view>
		<view class="table-num">桌号：{{deskNum}}</view>
		<!-- 滑动 -->
		<view class="table-num table-scroll">
			<scroll-view scroll-x="true" class="scroll-view_H" :enable-flex="true">
				<view class="table-block">
					<block v-for="(item,index) in people" :key="index">
					<view @click="chooseFn(index,item)" :class="{activetext: index === num}">{{item}}</view>
					</block>
				</view>
			</scroll-view>
		</view>
		<view class="eatFinder"> 
			<text class="eatChoose">就餐方式</text>
			<view class="eatFinder-flex">
				<view>
					<image v-if="pic1" src="../../static/tab/dineIn-1.png" mode="" @click="picCheckFn"></image>
					<image v-if="!pic1" src="../../static/tab/dineIn-2.png" mode=""@click="picCheckFn"></image>
				</view>
				<view>
					<image v-if="pic2" src="../../static/tab/takeawy-1.png" mode="" @click="pic2CheckFn"></image>
					<image v-if="!pic2" src="../../static/tab/takeawy-2.png" mode="" @click="pic2CheckFn"></image>
				</view>
			</view>
			<view class="start-diancan" @click="startFn">开始点餐</view>
		</view>
		<!-- 按钮 -->
		
	</view>
</view>
</template>

<script>
export default {
	data() {
		return {
			people: [1,2,3,4,5,6,7,8,9,10],
			dinners:0,
			num:-1,
			pic1:true,
			pic2:true,
			diningStyle:null, //1：堂食就餐  2：打包带走
			deskNum:0
		}
	},
	onLoad(e) {
		// 其参数为上个页面传递的数据 , 小程序码内通过？传递参数，通过onload参数获取到传递的数据
		this.deskNum = Number(e.deskNum)
		uni.setStorageSync('deskNum', this.deskNum )
		// 进入前，判断上次的订单是否结算完毕
		if(uni.getStorageSync('orderUid'))this.isDiscountFn()
	},
	methods: {
		// 查看当前订单是否结算完毕
		isDiscountFn(){
			const params = {
				orderUid:uni.getStorageSync('orderUid'),
				page:1
			} 
			this.$http('/dishs/queryDishOrder',params,'post')
			.then(res=>{  
				// console.log('res.data',res.data)
				if(res.data && res.data[0].orderStatus==0 && res.data[0].deskNum==this.deskNum) { 
					wx.redirectTo({
					  url: '/pages/detail/index'
					})
				}else{
					uni.removeStorageSync('orderUid');
					uni.removeStorageSync('orderStatus');
					uni.removeStorageSync('showData'); 
				}
			})
			.catch(err => console.log(err))
		},
		picCheckFn(){
			this.pic1 = !this.pic1
			this.pic2 = true
			this.diningStyle = !this.pic1 ? 1 : 2
		},
		pic2CheckFn(){
			this.pic2 = !this.pic2
			this.pic1 = true
			this.diningStyle = !this.pic2 ? 2 : 1
		},
		chooseFn(index,val){
			this.dinners = val
			this.num = index
			uni.setStorageSync('number_of_diners', this.dinners )
		},
		startFn(){
			if(!this.dinners){
				return uni.showToast({
					    title: '请选择就餐人数',
					    duration: 2000,
						icon:'none',
					})
			}
			if(this.diningStyle == null){
				return uni.showToast({
					    title: '请选择就餐方式',
					    duration: 2000,
						icon:'none',
					})
			}
			uni.setStorageSync('diningStyle', this.diningStyle )
			wx.reLaunch({
				url:'/pages/order/order'
			})
		}
	},
}
</script>

<style>
	/* @import url("./admin.css"); */
	@import './admin.css'
</style>
