page{
	background-image: url('https://6469-diancan-8gckycem626162ec-1254250118.tcb.qcloud.la/other/beijing-a.jpg?sign=72205ee6bbf76a00bec6d6aafbc5d7ce&t=1628957699');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
.welcome{
	color: #FFFFFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 70rpx;
}
.welcome text{
	display: block;
	font-size: 50rpx;
}
.welcome text:nth-child(1){
	font-family: monospace;
	padding-bottom: 20rpx;
}
/* 方块 */
.people-view{
	background-color: #FFFFFF;
	position: fixed;
	left: 30rpx;
	right: 30rpx;
	top: 200rpx;
	height: 850rpx;
	border-radius: 15rpx;
	overflow: hidden;
}
.hello{
	height: 80rpx;
	font-size: 35rpx;
	font-weight: bold;
	line-height: 80rpx;
	padding-left: 20rpx;
}
.table-num{
	font-size: 30rpx;
	padding-left: 20rpx;
}
.table-scroll{
	margin-top: 100rpx;
}
.scroll-view_H{
  white-space: nowrap;
  width: 100%;
  height: 75rpx;
}
.table-block{
	display: flex;
	align-items: center;
}
.table-block view{
	height: 75rpx;
	line-height: 75rpx;
	text-align: center;
	background-color: #f7f8f9;
	margin-right: 25rpx;
	padding: 0 70rpx;
	border-radius: 15rpx;
}
/* 按钮 */
.start-diancan{
	height: 90rpx;
	line-height: 90rpx;
	background-color: #469c96;
	/* background-color: #fdf4d7; */
	color: white;
	text-align: center;
	margin: 70rpx 20rpx 0 20rpx;
	border-radius: 15rpx;
}
/* 点击后加上颜色*/
.activetext{
	background-color: #469c96 !important;
	color: white;
}
.start-activ{
	/* background-color: #f6c947 !important; */
	/* color: #000000 !important; */
	color: white;
	background:linear-gradient(to right,#f8da81,#f8d771,#f7d362,#f6cb4a) !important;
}
.eatFinder{ 
	margin-top: 50rpx;
	height: 700rpx;
	background: #f5f5f7;
	overflow: hidden;
}
.eatFinder image{
	width: 300rpx;
	height: 210rpx;
}
.eatFinder-flex{
	display: flex;
	justify-content: space-around;
	margin-top: 20rpx;
	padding: 0 20rpx;
}
.eatChoose{
	/* color: black; */
	display: inline-block;
	margin: 30rpx 0 0 40rpx;
}