<template>
  <div class="shouye">
    <div style="background:red">
      111
    </div>
    <div class="shouye-left">
      <el-menu
      default-active="2"
      class="el-menu-vertical-demo"
      background-color="green"
      text-color="black"
      active-text-color="#ffd04b"
    >
      <el-submenu v-for="(ele,idx) in menuData" index='1' :key="idx">
        <template slot="title">
          <i class="el-icon-location"></i>
          <span  @click="$router.push(ele.path)">{{ele.name}}</span>
        </template>
      </el-submenu>
    </el-menu>
    </div>
    <div class="shouye-right">
      <div class="shouye-right-up">
        <el-button  @click="$router.push('/login')">退出</el-button>
      </div>
      <div class="shouye-right-bottom">
        <router-view />
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data(){
    return {
      menuData:[
        { name:'菜品设置',id:'1',path:'/dishSetting'},
        { name:'菜品分类',id:'2',path:'/dishCategroy'},
      ]
    }
  },
  methods: {
    handleOpen(key, keyPath) {
      console.log(key, keyPath,11111);
    },
    handleClose(key, keyPath) {
      console.log(key, keyPath);
    },
  },
};
</script>
<style lang='scss' scoped>

.shouye{
  height: 100%;
  /* background: grey; */
  display: flex;
}
.shouye-left{
  width: 15%;
  /* height: 1000px; */
}
.shouye-right{ 
  flex: 1;

  background:#f1f1f1;
}
.el-menu{
  /* height: 1000px; */
  /* width:100%; */
   height: 100%;
  
 /* position: absolute; */
}
/deep/.el-icon-arrow-down:before {
    content: none;
}
.shouye-right-up{
  margin-left: 92%;
  margin-top: 1%;
}
</style>