<template>
  <div class="mainBody">
    <div class="mainBody-up">
      <span>杜杜杜杜餐饮</span>
      <el-button @click="$router.push('/login')">退出</el-button>
    </div>
    <div class="shouye">
      <div class="shouye-left">
        <el-menu
          default-active="2"
          class="el-menu-vertical-demo"
          background-color="white"
          text-color="black"
          active-text-color="#ffd04b"
        >
          <el-submenu v-for="(ele, idx) in menuData" index="1" :key="idx">
            <template slot="title">
              <i class="el-icon-location"></i>
              <span @click="$router.push(ele.path)">{{ ele.name }}</span>
              <span v-if="ele.hadNum && newOrderNum>0" class="preNumSty">{{newOrderNum}}</span>
            </template>
          </el-submenu>
        </el-menu>
      </div>
      <div class="shouye-right">
        <div class="shouye-right-bottom">
          <router-view />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  created(){
    // this.OrderNum = localStorage.getItem('setOrderNum')
    this.$store.commit('order/setOrderNum', localStorage.getItem('setOrderNum'))
  },

  computed: { 
    newOrderNum() { 
      return this.$store.getters.newOrderNum;
    },
  },
  // watch:{
  //     newOrderNum(newVal,oldValue){ 
  //       console.log(newVal,oldValue,11111)
  //         if(newVal) this.OrderNum = localStorage.getItem('setOrderNum')
  //     }
  // },
  data() {
    return {
      // OrderNum:0,
      menuData: [
        { name: "菜品管理", id: "1", path: "/dishMange" },
        { name: "菜品分类", id: "2", path: "/dishCategroy" },
        { name: "订单管理", id: "3", path: "/dishOrders",hadNum:true},
        { name: "桌号管理", id: "4", path: "/deskNum"},
        { name: "实时数据", id: "5", path: "/analysis"},
        { name: "商家位置", id: "6", path: "/amap"},
      ],
    };
  },
  methods: {
    handleOpen(key, keyPath) {
      console.log(key, keyPath, 11111);
    },
    handleClose(key, keyPath) {
      console.log(key, keyPath);
    },
  },
};
</script>
<style lang='scss' scoped>
.mainBody {
  display: flex;
  flex-direction: column;
}
.mainBody-up{
  height: 15%;
  display: flex;
  justify-content: space-between;
  padding: 1% 1%;
  span{ font-size: 22px; }
}
.shouye {
  flex: 1;
  height: 100%;
  /* background: grey; */
  display: flex;
}
.shouye-left {
  width: 15%;
  /* height: 1000px; */
}
.shouye-right {
  flex: 1;
  background: #f1f1f1;
}
.el-menu {
  /* height: 1000px; */
  /* width:100%; */
  height: 100%;

  /* position: absolute; */
}
/deep/.el-icon-arrow-down:before {
  content: none;
} 
.preNumSty{
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  color: white;
  border-radius: 50%;
  margin-left: 10px;
  font-size: 12px;
  background: #f45252;
}
</style>