<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
import { queryAnalysisApi } from "./api/analysis";
import { mapState, mapMutations, mapActions, mapGetters } from 'vuex'
export default {
  data() {
    return {};
  },
  created() {
    this.initGoEasyFn();
    this.acceptMessageFn();
    // this.getEcharsDataFn();
  },
  methods: {  
    // 动态获取图标实时数据
    getEcharsDataFn(){
      queryAnalysisApi()
      .then(res=>{  
        // console.log(res.data,'res.data')
        this.$store.commit('analysis/SetAnalysisArr', res.data)
       })
      .catch(err=>{ console.log(err) })
    },
    initGoEasyFn() {
      //建立连接
      this.goeasy.connect({
        id: "001", //pubsub选填，im必填
        data: { avatar: "/www/xxx.png", nickname: "Neo" }, //必须是一个对象，pubsub选填，im必填，用于上下线提醒和查询在线用户列表时，扩展更多的属性
        onSuccess: function () {
          //连接成功
          console.log("连接成功"); //连接成功
        },
        onFailed: function (error) {
          //连接失败
          console.log("连接失败");
        },
        onProgress: function (attempts) {
          //连接或自动重连中
          console.log("连接或自动重连中");
        },
      });
    },
    acceptMessageFn() {
      var pubsub = this.goeasy.pubsub;
      pubsub.subscribe({
        channel: "my_channel", //替换为您自己的channel
        onMessage:  (message)=> {
          // console.log('message',message)
          this.getEcharsDataFn()  //有订单更新，即调用接口，实时获取数据
          //   console.log('接受成功',22222)
          // console.log( message.content,1111111 );
          if(message.content==200){ 
            this.$store.commit('order/setOrderNum', 1)
            localStorage.setItem('setOrderNum',Number(this.$store.getters.newOrderNum))
          }
           
        },
        onSuccess:  ()=> {
          console.log("Channel订阅成功。");
        },
        onFailed:  (error)=> {
          console.log(
            "Channel订阅失败, 错误编码：" +
              error.code +
              " 错误信息：" +
              error.content
          );
        },
      });
    },
  },
};
</script>

<style lang="scss">
</style>
