<template>
  <div class="cssSty">
    <div class="cssSty-name">桌号管理</div>
    <div class="cssSty-add">
      <el-input class="cssSty-ipt" v-model="deskNum" placeholder="请输入创建桌号"></el-input>
      <el-button @click="addFn">添加</el-button>
    </div>
    <div class="cssSty-table">
      <el-table :data="tableData" style="width: 100%">
        <el-table-column prop="" label="" width="80">
        </el-table-column>
        <el-table-column prop="createTime" label="创建时间" width="480">
        </el-table-column>
        <el-table-column prop="deskNum" label="桌号" width="480"> </el-table-column>
        <el-table-column prop="url" label="图片">
          <template slot-scope="scope">
             <el-image class="elimg"
             ref="preview"
						:src="scope.row.url"
						fit="cover"
						:lazy="true"
						:preview-src-list="[scope.row.url]"
            >
						</el-image>
           </template>
        </el-table-column>
        <!-- <el-table-column prop="" label="操作"> 
           <template slot-scope="scope">
             <el-button @click = 'delFn(scope.row.id)'>删除</el-button>
           </template>
        </el-table-column> -->
      </el-table>
    </div>
    <div class="cssSty-page">
      <el-pagination
        background
        :page-size='pageSize'
        layout="prev, pager, next"
        @current-change='changePage'
        :total="totalPage">
      </el-pagination>
    </div>
  </div>
</template>
<script>
import { queryAppCodeApi,createAppCodeApi} from '../../api/desk'
export default {
  data() {
    return {
      tableData: [],
      deskNum:'',
      page:1,
      totalPage:1,
      pageSize:5
    };
  },
  created(){
    this.init(this.page)
  },
  methods:{
    onPreview() { 
          this.$refs.preview.clickHandler()
        },
    changePage(num){
      this.init(num)
    },
    init(page){
      queryAppCodeApi({page}).then(res=>{
        // console.log(res,1)
        if(res.code===200) {
          this.tableData = res.data.list
          this.tableData.forEach(ele=>{ 
          ele.createTime = this.$moment(ele.createTime).format('YYYY-MM-DD HH:mm:ss') 
        })
          this.totalPage = res.data.totalPage
        }
      })
    },
    addFn(){
      createAppCodeApi({deskNum:this.deskNum}).then(res=>{
        const msg = res.code === 200 ? '添加成功' : res.msg
        const status = res.code === 200 ? 'success' : 'error'
        this.$message[status](msg)
        this.deskNum=''
        this.init(this.page)
      })
    },
    // delFn(val){ 
    //   delCategoryApi({id:val}).then(res=>{
    //     const msg = res.code === 200 ? '删除成功' : '删除失败'
    //     const status = res.code === 200 ? 'success' : 'error'
    //     this.$message[status](msg)
    //     this.init()
    //   })
    // }
  }
};
</script>
<style scoped>
.cssSty {
  padding: 30px; 
  display: flex;
  flex-direction: column;
}
.cssSty-name {
  font-size: 18px;  
}
.cssSty-table {
  overflow: hidden;
  padding: 30px 0 30px 0; 
}
.cssSty-add{
  margin: 20px 0 0 0;
  /* margin-left:auto; */
  /* align-self: flex-end; */
  display: flex;
}
.cssSty-ipt{
  width: 300px;
}
.elimg{
  width: 100px;
  height: 100px;
}
.cssSty-page{
    align-self: center;
}
</style>